
html, body{

  width: 100%; height: 100%;
}
* {
  box-sizing: border-box;
}

header, footer {
  clear: both;
  color: black;
  background-color: #E7E6E5;
  border-bottom: 3px solid black
}
footer{
  height: 20%;
  background-color: #b84651;
  text-align: center;
  font-size: 15px;
  border-style: double;
  padding: 20px;
}
#home_welcome{
  font-size: 30px;
  font-family: emoji;
}
#main-container {
  width:100%;
  min-height: 100vh;
  padding: 1em;
  background-color: #b84651;

}

#movie_details .post-card {
  float: left;
  width: 60%;
  margin: 0 20%;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.7em;
  margin: 5px;
  overflow: auto;
  height: 16em;

}
#movie_details{
  text-align: center;
}


#main_content {
  background-color: inherit;
  margin: auto;
  border-bottom: 5px solid black;
  padding: 2em;
}



#moviename {
  text-align: center;
  text-decoration: none;
  font-family: emoji;
}

#homepage {
  text-align: center;
  width: 100%;

}
#middle_div{
  width: 100%;
  height: 100%;
}
#operations {
  width: 100%;
}

.search {
  margin-bottom: 2em;
  margin-left: 1em
}
.pagination{
  width: 100%;
  height: fit-content;
  text-align: center;
}

.movie-card {
  width: 60%;
  height: fit-content;
  background: #D0D0D0;
  border-radius: 10px;
  padding: 0.7em;
  margin-bottom: 2em;
  overflow: auto;
  margin:auto;
  margin-bottom: 30px;

}

.movie-info {
  width: 100%;
  background: #D0D0D0;
  margin: auto;
  overflow: auto;
  text-align: center
}

h3 {
  text-align: center;
}

.form-class {
  width: 20%;
  padding: 12px 20px;
  margin: auto;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  height: 35px;
  width: 80px;
}

.button_link, .button_link:hover {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-family: emoji;
}
