{% extends './base.html' %}
{% block main_content %}
<section>
  <button type="button" name="button"><a class="button_link" href="{% url 'movie_create' %}">Add</a></button>
</section>
{% for i in object_list %}

<section class='movie-card'>
  <section class='movie-info'>
    <h3 id='moviename'><a href={% url 'movie_details' i.id %}>{{ i.title }}</a></h3>
    <li> <b>Genre:</b> | {% for g in i.genres %} {{ g }} | {% endfor %}</li>
    <li> <b>Overview:</b> {{ i.overview }} </li>
  </section>
  <section id='operations'>
    <button type="button" name="button"><a class="button_link" href="{% url 'movie_edit' i.pk %}">Edit</a></button>
    <button type="button" name="button" style="background:red; margin-left: 10px"><a class="button_link" href="{% url 'movie_delete' i.pk %}">Delete</a></button>
  </section>
</section>

{% endfor %}


<div class="pagination">
  <span>
    {% if page_obj.has_previous %}
    <button type="button" name="button"><a class="button_link" href="?page=1&{{params}}">« First</a></button>
    <button type="button" name="button"><a class="button_link" href="?page={{ page_obj.previous_page_number }}&{{params}}">Previous</a></button>
    {% endif %}

    <span class="current">
      <p style="font-family:emoji; font-size: 20px">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</p>
    </span>
    {% if page_obj.has_next %}
    <button type="button" name="button"><a class="button_link" href="?page={{ page_obj.next_page_number }}&{{params}}">Next</a></button>
    <button type="button" name="button"><a class="button_link" href="?page=2&{{params}}">Last » </a></button>
    {% endif %}
    {% endblock main_content %}
</div>
