{% extends './base.html' %}
{% block title %}{{title}}{% endblock %}
  {% block main_content %}
    <section id='homepage'>
      <h2>Welcome!</h2>
      <p id="home_welcome"> This is a website that presents movies for the user to like and find information about. <br>
      User may filter by title, genre and likes/popularity.</p>
    </section>
  {% endblock main_content %}
