{% extends './base.html' %}
{% block title %}{{title}}{% endblock %}
{% block main_content %}
<h3>Liked Movies</h3>
{% for i in object_list %}
<section class='movie-card'>
  <section class='movie-info'>
    <h3 id='moviename'><a href={% url 'movie_details' i.movie.id %}>{{ i.movie.title }}</a></h3>
    <li> <b>Genre:</b> | {% for g in i.movie.genres %} {{ g }} | {% endfor %}</li>
    <li> <b>Overview:</b> {{ i.movie.overview }} </li>
  </section>
</section>

{% endfor %}


<div class="pagination">
  <span>
    {% if page_obj.has_previous %}
    <button type="button" name="button"><a class="button_link" href="?page=1">« First</a></button>
    <button type="button" name="button"><a class="button_link" href="?page={{ page_obj.previous_page_number }}">Previous</a></button>
    {% endif %}

    <span class="current">
      <p style="font-family:emoji; font-size: 20px">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</p>
    </span>
    {% if page_obj.has_next %}
    <button type="button" name="button"><a class="button_link" href="?page={{ page_obj.next_page_number }}">Next</a></button>
    <button type="button" name="button"><a class="button_link" href="?page=2">Last » </a></button>
    {% endif %}
    {% endblock main_content %}
</div>
