{% extends './base.html' %}
{% block title %}{{title}}{% endblock %}
{% block main_content %}
  <section id='movie_details'>


<form action="{% url 'like_movie' object.pk %}" method="POST">
  {% csrf_token %}
  <button type="submit" name="movie_id" value="{{ object.id }}" class="btn btn-primary btn-sm">Like</button>
  </form>


        <h3><b>{{ object.title }}</b></h3>
        <h4><b>Overview:</b> {{ object.overview }}</h4>
        <h4><b>Original language:</b> {{ object.original_language }}</h4>
        <h4><b>Genres:</b> | {% for g in object.genres %} {{ g }} | {% endfor %}</h4>
        <h4><b>Home page:</b> {{ object.homepage }}</h4>
        <h4><b>Release Date:</b> {{ object.release_date }}</h4>
        <h4><b>Running time:</b> {{ object.runtime }} minutes</h4>
        <h4><b>Total likes:</b> {{ object.total_likes }}</h4>
      </section>


{% endblock main_content %}
