{% extends './base.html' %}
{% block title %}{{title}}{% endblock %}
{% block main_content %}
  <section class='form-class'>
    <form action="" method='POST'> {% csrf_token %}
      <h4> Are you sure you want to delete the movie {{ object.title }}?</h4>

      <fieldset>
        <a href="{% url 'movies_list' %}"> Cancel </a>
        <input type="submit" value="Confirm">
      </fieldset>
      </form>
  </section>
{% endblock main_content %}
