{% extends './base.html' %}
{% block title %}{{title}}{% endblock %}
{% block main_content %}

  <section class='form-class'>
    <form method='post'>
      {% csrf_token %}
      <fieldset>
        {%if edit%}
          <legend>{{edit}}</legend>
        {%else%}
          <legend>Add a new movie</legend>
        {%endif%}

        {{ form }}
        </fieldset>
        <fieldset>
          {%if edit%}
            <input type="submit" value="Update"/>
          {%else%}
            <input type="submit" value="New Movie"/>
          {%endif%}
          </fieldset>
        </form>
        </section>
{% endblock main_content %}
