{% extends 'base.html' %}
{% block title %}403 Forbidden{% endblock %}

{% block main_content %}
<h1>Access Denied</h1>
<span>We're sorry, but you do not have the permissions to view this page (Error: 403)</span>
{% endblock main_content %}
