{% extends "base.html" %}
{% block title %} 404 Not Found{% endblock %}

{% block main_content %}
<h1>404 Not Found</h1>


<div id="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                  <a class="btn btn-primary btn-lg"> href={% url 'index' %}> Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% block main_content %}
