{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>{% block title %}   {% if title %} {{ title }}
    {% else %} default-title
    {% endif %}
    {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'mystyles.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

    <header>

        <nav class="navbar navbar-inverse">
        <div class="container-fluid">

          <ul class="nav navbar-nav">
            <li><a href={% url 'index' %}> Home </a></li>
            <li><a href={% url 'movies_list' %}> All Movies </a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {%if user.is_authenticated %}
               <li style="color:white;margin:11px;font-size:1.3em">Logged in as: {{user.username}}</li>
                <li><a href={% url 'liked_movies' %}> Liked Movies </a></li>
                        <li><a href={% url 'update_profile'%}>Update my profile</a></li>
              <li><a href={% url 'member_logout'%}><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
              {%if user.profile.picture%}
          <img class="rounded-circle"  src="{{user.profile.picture.url}}" width="50" height="50">
                  {%endif%}
            {%else%}
              <li><a href={% url 'member_login'%}><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {%endif%}

          </ul>
        </div>
      </nav>

      <h3> Movies </h3>
    <div class='search'>
      <form action="{% url 'movies_list' %}" method='GET'>
        <input type="search" placeholder="Search" name="search" />

        <section class="sort">
          <label>Filter By:</label>
          <select name='filter_by'>
            <option value="title">Title</option>
            <option value="genres">Genre</option>
          </select>
          <label>Sort By:</label>
          <select name='sort_by'>
            <option value="titleASC">Title ASC</option>
            <option value="total_likesASC">Likes ASC</option>
            <option value="total_likesDESC">Likes DESC</option>
            <option value="titleDESC">Title DESC</option>
          </select>

          <button type="submit" name="button" class="button_link" id="search_button">Search</button>
        </section>
      </form>
    </div>


  </header>



  <div id='main-container'>
    <section id='middle_div'>
      {% block main_content %}

      {% endblock main_content %}
    </section>
  </div>

  <footer>Created by: Xin Jia Cao, Keren Pérez Rivera, Dania Bouhmidi, Simranjot Kaur Khera</footer>
</body>

</html>
