{% extends './base.html' %}
{% block title %}Login{% endblock %}
{% block main_content %}

  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: black">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: white">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Login</button>

  </form>
  <p>Don't have an account ? Sign up here ! <a href={% url 'member_register' %}>Register</a></p>

{% endblock main_content %}
