{% extends 'base.html' %}
{% block title %}Logout{% endblock %}
{% block main_content %}
  <h2>Successfully Logged Out</h2>

  <p>Log Back In Here: <a href={% url 'member_login'%}>Login</a></p>
  <p>Go to home page as Guest <a href={% url 'index'%}>Home</a></p>


  {% endblock main_content %}
