{% extends './base.html' %}
{% block title %} {{ title }}{% endblock %}
{% block main_content %}
<form method='POST' enctype="multipart/form-data">
    {%csrf_token%}

    {% for field in u_form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: black">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: white">{{ error }}</p>
        {% endfor %}
        field.
      </p>
    {% endfor %}
    {% for field in p_form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: black">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: white">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

    <button type='submit'>Update</button>
</form>
{% endblock main_content %}
